Django==1.4
git+https://github.com/douglasmiranda/django-redactorjs
git+https://github.com/douglasmiranda/django-admin-bootstrap
django-filer==0.9
PIL==1.1.7
mysql-python==1.2.3
South==0.7.6
gevent==0.13.8
gunicorn==0.15.0