Django==1.4
git+https://github.com/douglasmiranda/django-redactorjs#egg=django-redactorjs
git+https://github.com/douglasmiranda/django-admin-bootstrap#django-admin-bootstrap
PIL==1.1.7
mysql-python==1.2.3