#!/bin/bash
source /home/USER/.virtualenvs/DJANGO_PROJECT_NAME/bin/activate
export DJANGO_SETTINGS_MODULE=DJANGO_PROJECT_NAME.settings.prod
/home/USER/.virtualenvs/DJANGO_PROJECT_NAME/bin/python2.7 manage.py run_gunicorn -c etc/gunicorn.prod.conf --daemon --settings=DJANGO_PROJECT_NAME.settings.prod && sleep 3