/***** Layout *****/
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/*
    Featured
*****************/
#featured {
    margin-bottom: 4em;
    position: relative;
    width: 800px;
}
#featured figure {
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom:solid 2px #F96F13;
    line-height: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#featured figure {
    margin: 0;
}
#featured a {
    padding: 0;
    color: #fff;
}
#featured h2,
#featured h3 {
    background: #000000;
    color: #FFFFFF;
    display: block;
    margin: 0;
    opacity: 0.7;
    padding: 10px;
    position: absolute;
}
#featured h2{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; 
    font-size: 14px;
    font-weight: bold;
    left: 0;
    max-width: 380px;
    top: 70px;
    z-index: 2;
}
#featured h3{
    background: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
    left: 0;
    padding-top: 25px;
    top: 169px;
    width: 780px;
    z-index: 0;
}
#featured h3 a{
    color: #333;
}
/*
#featured figure:hover {
    border: 2px solid #F96F13;
}
#featured .description{
    margin-left:18px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: #f96f13; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;margin-left: 18px;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #333;}
*/

#posts-list h3 a{
    color:#333;
}
.entry-title{
    margin-bottom:7px;
}

.entry-content{
    margin-bottom:15px;
}

/*
    Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
    color: #f93211;
    font-size: 1.429em;
    margin-bottom: .25em;
    padding: 0 3px;
}

#extras a:link, #extras a:visited {
    color: #444;
    display: block;
    border-bottom: 1px solid #F4E3E3;
    text-decoration: none;
    padding: .3em .25em;
}

    /* Blogroll */
    #extras .blogroll {
        float: left;
        width: 615px;
    }

    #extras .blogroll li {
        float: left;
        margin: 0 20px 0 0;
        width: 185px;
    }

    /* Social */
    #extras .social {
        float: right;
        width: 175px;
    }

#extras li:last-child,
#extras li:last-child a{border: 0}

#extras .blogroll li:nth-last-child(2),
#extras .blogroll li:nth-last-child(3),
#extras .blogroll li:nth-last-child(2) a,
#extras .blogroll li:nth-last-child(3) a {border: 0;}

#buzz-web{
    color: #b4be3a !important;
}