<nav>
	<ul>
		<li>
			<a href="{% url blog-todos-artigos %}">/artigos</a>
		</li>
		<li>
			<a href="{% url labs-projetos %}">/open-source</a>
		</li>
		<li>
			<a href="{% url projeto-me %}">/algumas-palavras-sobre-mim</a>
		</li>
		<li>
			<a href="https://github.com/douglasmiranda/" title="My GitHub">/labs</a>
		</li>
		<li class="form-search">
			<form method="get" name="search" id="search-form" action="{% url blog-busca-artigos %}">
				<input type="text" name="q" placeholder="Pesquisar..." value="{{ search_term }}">
				<input type="submit" value="Pesquisar">
			</form>
		</li>
	</ul>
</nav>