{% extends 'base.html' %}

{% block titulo %}Sobre mim - {{ block.super }}{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .img-circle {
            float: right;
        }
        #content ul li{
            display: list-item;
            list-style-type: disc;
            margin-left:15px;
            line-height: 23px;
        }
    </style>
{% endblock extra_head %}

{% block content %}
    <h2>Oi? Então...</h2>
    <img src="http://static.douglasmiranda.com/images/douglas-miranda.jpg" class="img-circle" alt="Douglas Miranda - @douglaswebdev">
    <p>Resumindo, sou desenvolvedor do tipo que aprendeu C e JAVA na faculdade, mas na "vida real" caiu nas teias da internet (<strike>teias = web, e ainda sou humorista hein haha, quase mais um do zorra total</strike>). Então conheci o PHP e aprofundei-me mais um pouco, aprendi bastante estudando e trabalhando com o Zend Framework, mas hoje estou gostando muito de trabalhar com Python/Django.</p>
    <p>Sou viciado em informação, gosto de obter conhecimento, seja história, astronomia, tecnologia, vários campos dentro das ciências e gosto bastante de design (só o conceito na cabeça, se for para eu fazer, aí não sai nada =/), artes e música. Viciado em seriados.</p>
    <p>Quando não estou em missões secretas de ninja, (Oops, não podia ter falado isso, agora terei de ir atrás de você!), eu estou desenvolvendo, <a href="{% url 'blog-todos-artigos' %}">escrevendo</a>, lendo, (às vezes tudo isto ao mesmo tempo).</p>
    <h3>Links úteis:</h3>
    <ul id="links-uteis">
        <li>
            <a href="http://twitter.com/douglaswebdev">@douglaswebdev no twitter</a>
        </li>
        <li>
            <a href="https://github.com/douglasmiranda">/douglasmiranda no github</a>
        </li>
        <li>
            <a href="http://groups.google.com/group/django-brasil/">Django Brasil - Google Groups</a>
        </li>
    </ul>
{% endblock %}