{% extends 'base.html' %}

{% block titulo %}Sobre mim - {{ block.super }}{% endblock %}

{% block content %}
	<h2>Oi? Então quer saber sobre mim...</h2>
	<p>Resumindo, sou desenvolvedor do tipo que aprendeu C e JAVA na faculdade, mas na "vida real" fui desenvolver para web, então conheci o PHP, aprofundei-me, aprendi bastante estudando e trabalhando com o Zend Framework, mas hoje estou amando trabalhar com Python/Django.</p>
	<p>Estou gostando da forma como a comunidade Python recebe a gente, são tão acolhedores quanto a comunidade PHP.</p>
	<p>Há algum tempo atrás eu senti que precisava conhecer novas linguagens, e entrar no mundo open-source, consegui um tempo, (no lugar de dormir xD), e aqui estou aprendendo e compartilhando o que aprendo para transmitir informação e para ser informado sobre meus erros por esta comunidade que faz o desenvolvimento de software muito mais legal! =D</p>
	<p>Quando não estou em missões secretas de ninja, (Oops, não podia ter falado isto, agora terei de ir atrás de você que leu), eu estou desenvolvendo, <a href="{% url 'blog-todos-artigos' %}">escrevendo</a>, lendo, (às vezes tudo isto ao mesmo tempo), mas sempre que posso ando de skate =D e assisto minhas séries favoritas.</p>
	<p>Todos os dias percebo que quero aprender mais, e mais ainda compartilhar o que talvez possa ser útil para alguém, por isto postando nesse blog, compartilhando links úteis no <a href="http://twitter.com/douglaswebdev">twitter</a> e tentando ficar cada vez mais ativo no <a href="https://github.com/douglasmiranda">github</a>. Bem como participo e sou moderador da comunidade <a href="http://groups.google.com/group/django-brasil/">Django Brasil</a> (participe lá também ^^)</p>
{% endblock %}