{% extends 'base.html' %}

{% block titulo %}Projetos - {{ block.super }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/projetos.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-github/base.css">
{% endblock %}

{% block content %}
    <h2>
        <a href="http://github.com/douglasmiranda/" rel="me">Alguns dos repositórios que estão no github</a>
    </h2>
    <div id="ultimos-projetos">
        <div class="github-box-wrap" data-repo="douglasmiranda/django-admin-bootstrap"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/django-wysiwyg-redactor"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/pytar"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/jquery.gridnav"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/django-class-based-generic-views"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/dshortener"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/splinter-examples"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/douglasmiranda.com"></div>
    </div>
    <p>
        <a href="http://github.com/douglasmiranda/" class="link-to-my-github" rel="me">
            <img src="{{ STATIC_URL }}jquery-github/cat.png"><br>
            github.com/douglasmiranda
        </a>
    </p>
    <h2>
        <a href="#" rel="me">Alguns dos projetos de tradução que sou coordenador/tradutor</a>
    </h2>
    <p>
        <ul>
            <li>
                <a href="https://www.transifex.com/projects/p/django-admin2/">django-admin2</a> - Extendable, adaptable rewrite of django.contrib.admin
            </li>
            <li>
                <a href="https://www.exoplatform.com/">eXo Platform</a> - Open Source Enterprise Social Platform
            </li>
            <li>
                <a href="https://github.com/Londerson/djangobook">djangobook</a> - Projeto de tradução do Django Book, para português
            </li>
        </ul>
    </p>
{% endblock %}

{% block js_footer %}
    <script src="{{ STATIC_URL }}jquery-github/jquery.github.js"></script>
    <script>
        $('[data-repo]').github();
    </script>
{% endblock %}