{% extends 'base.html' %}

{% block titulo %}Projetos - {{ block.super }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/projetos.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-github/base.css">
{% endblock %}

{% block content %}
    <h2>
        <a name="por-que-contribuir-e-ou-divulgar-projetos-open-source" href="#por-que-contribuir-e-ou-divulgar-projetos-open-source">
            Por que contribuir e/ou divulgar projetos open-source?
        </a>
    </h2>
    <p>Porque é legal! (ok, isso não basta neh..)</p>
    <p>Quando criamos nosso próprio repositório com aquela pequena aplicação útil que desenvolvemos em um final de semana para resolver um problema em particular, mas que por estar agora disponível para todo o mundo conhecer, as poucas linhas de código podem virar uma aplicação útil com muitos colaboradores e nem por isto você vai perder o crédito, pelo contrário todos envolvidos reconhecem a origem da idéia.</p>
    <p>Grandes empresas de desenvolvimento de software utilizam o critério de verificação do seu envolvimento em projetos open-source.</p>
    <p>Existem projetos que são legais de estar envolvido pelo objetivo, (alguns possuem causas sociais, revolucionárias e/ou que ajudam muitas pessoas), aprendizado, entre outros motivos, e creio que todos eles só têm a contribuir. :)</p>
    <h3>Alguns dos repositórios que estão no github</h3>
    <div id="ultimos-projetos">
        <div class="github-box-wrap" data-repo="douglasmiranda/django-admin-bootstrap"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/django-wysiwyg-redactor"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/pytar"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/jquery.gridnav"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/django-class-based-generic-views"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/dshortener"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/splinter-examples"></div>
        <div class="github-box-wrap" data-repo="douglasmiranda/douglasmiranda.com"></div>
    </div>
    <p>
        <a href="http://github.com/douglasmiranda/" class="link-to-my-github" rel="me">
            <img src="{{ STATIC_URL }}jquery-github/cat.png"><br>
            github.com/douglasmiranda
        </a>
    </p>
{% endblock %}

{% block js_footer %}
    <script src="{{ STATIC_URL }}jquery-github/jquery.github.js"></script>
    <script>
        $('[data-repo]').github();
    </script>
{% endblock %}