#article-detail header p{
	color: #555555;
	font-size: 12px;
	margin-left: 30px;
}
#article-detail .clearfix{
	clear: both;
}
#article-detail p{
	text-align:justify;
}
#article-detail h3 a{
	color:#333333;
}
#article-detail img{
	margin: 10px 15px;
	border: 5px solid #f4f4f4;
}
#article-detail img:hover{border: 5px solid #F96F13;}
#article-detail .img_left{float: left;}
#article-detail .img_right{float: right;}
#article-detail .img_center{
	margin:10px auto;
	display:block;
}
#article-detail blockquote{
	padding:30px;
	margin:15px 0 15px 0;
	background:url("../images/articles/blockquote-open.png") no-repeat scroll left top,
			   url("../images/articles/blockquote-close.png") no-repeat scroll right bottom;
}
#article-detail blockquote p{
	border-left: #f8f8f8 solid 2px;
	padding-left:5px;
}
#article-detail ol li, #article-detail ul li{
	display: list-item;
	margin-left:15px;
}
#article-detail ol li{list-style-type: decimal;}
#article-detail ul li{list-style-type: disc;}