body {
    background-color: #f8f8f8;
    color: #000305;
    font-family: "helvetica", "arial", Verdana, Tahoma, sans-serif;      
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: 1.429;
}

#page {
    margin: 20px;   
    background: #f8f8f8;
    border: none;
    padding: 0;
}
#page:focus {
    outline: none;
}


div,
p,
ul,
ol,
table,
dl,
pre,
h1, 
h2, 
h3, 
h4,
h5,
blockquote {
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px;
    margin: 10px 0; 
}

p ul, 
p ol {
    margin: 0;
    padding: 0;
    border: none;
}

div,
p,
ul,
ol,
table,
dl,
blockquote,
pre,
iframe, 
object,
hr {
    margin-bottom: 15px;    
    line-height: 1.5em;     
}
blockquote {
    margin-left: 3em;
    font-style: italic;
    color: #777;    
}
div {
    background-color: #fff;
    border: 1px dashed #ebebeb; 
}
ul, ol {
    padding-left: 2em !important;   
}
ul ul, 
ol ol, 
ul ol, 
ol ul {
    border: none;
    margin: 2px !important;
    padding: 0;
    padding-left: 2em;  
}
dl dt { font-weight: bold; }
dd { margin-left: 1em;}

table {
    border-collapse: collapse;
    font-size: 1em; 
}
table td {
    border: 1px solid #ddd;
    padding: 5px;
}
table thead td {
    border-bottom: 2px solid #000 !important;
    font-weight: bold;
}
.prettyprint{
    background:#fbfbfb url(http://static.douglasmiranda.com/blog/images/articles/code/code-close.png) right bottom no-repeat;
    font-family: monospace sans-serif;
    border: 1px dashed #ccc;
    display: block;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

h1, h2, h3, h4,h5 {
    font-weight: bold;  
    margin-bottom: 10px;
}

h1 {
    font-size: 28px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
a{
    color: #0088CC;
}
a:hover{
    color: #005580;
}
img:hover{
    cursor: nw-resize;
}
.code-inline {
    background-color: #F8F8FF;
    border: 1px solid #DEDEDE;
    border-radius: 3px 3px 3px 3px;
    color: #444444;
    font-size: 12px;
    padding: 0 0.2em;
}
iframe, object, img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}