#content{
    overflow: visible;
}
h3 a{
    color:#000 !important;
    text-decoration:none !important;
}
#ultimos-projetos{
    display:table;
    width: 100%;
    margin:0px;
}
.link-to-my-github{
    display: block;
    margin: 0px auto;
    text-align: center;
}