{% extends 'base.html' %}

{% block titulo %}
	Resultados da busca por "{{ search_term }}" {% if page_obj.number %} página {{page_obj.number}} - {% endif %}
	{{ block.super }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}blog/css/todos-artigos.css" type="text/css" />
{% endblock %}

{% block content %}
	<h2>Resultados da busca por: "{{ search_term }}"</h2>

	{% include "blog/paginacao-busca.html" %}
	{% include "blog/listagem-artigos.html" %}
	{% include "blog/paginacao-busca.html" %}
	
{% endblock %}