#detail header p{
    color: #555555;
    font-size: 12px;
    margin-bottom:16px;
}
.published{
    font-weight: bold;
}
.code-inline{
    background-color: #F8F8FF;
    border: 1px solid #DEDEDE;
    color: #444444;
    font-size: 12px;
    padding: 0 0.2em;
    border-radius: 3px;
}
.prettyprint{
    width:754px;
    background:#fbfbfb url(http://static.douglasmiranda.com/blog/images/articles/code/code-close.png) right bottom no-repeat;
    border: #DEDEDE 1px solid;
    padding: 0 0.2em;
    border-radius: 3px;
    display:block;
}
.prettyprint:hover, .code-inline:hover{
    border:#F96F13 1px solid !important;
}
#detail .clearfix{
    clear: both;
}
#detail h1{
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 16px;
}
#detail h1 a, #detail h1 span{
    color:#333333;
    font-size:22px;
}
#detail h3 a,
#detail h4 a{
    color:#333333;
}
#detail img{
    border: 5px solid #f4f4f4;
    display: block;
    margin: 10px auto;
    max-width: 95%;
}
#detail img:hover{border: 5px solid #F96F13;}

.entry-content iframe{
    margin:10px auto;
    display:block;
}
.fb_edge_comment_widget iframe{
    height:225px !important;
}

.template-table{
    width:714px;
    background-color: #F8F8FF;
    border: 1px solid #DEDEDE;
    color: #333;
    padding: 0 0.2em;
    border-radius: 3px;
}
.template-table p{
    margin-bottom:5px;
}
._2-columns td{
    padding:3px;
}
._2-columns thead td{
    border-bottom: 1px solid #DEDEDE;
    font-weight: bold;
}
._2-columns tfoot td{
    border-top: 1px solid #DEDEDE;
    font-size: 12px;
}
._2-columns tr td {
    border-left: 1px dashed #DEDEDE;
}
._2-columns tr td:first-child{
    border-left:0px;
}

#detail blockquote{
    padding:30px;
    margin:15px 0 15px 0;
    background:url(http://static.douglasmiranda.com/blog/images/articles/blockquote-open.png) no-repeat scroll left top,
               url(http://static.douglasmiranda.com/blog/images/articles/blockquote-close.png) no-repeat scroll right bottom;
    clear:both;
}
#detail blockquote p{
    border-left: #f8f8f8 dashed 2px;
    padding-left:5px;
}
#detail ol li, #detail ul li{
    display: list-item;
    margin-left:15px;
}
#detail ol, #detail ul{display:table;}
#detail ol li{list-style-type: decimal;}
#detail ul li{list-style-type: disc;}
.post-info{margin-top:15px;}
#facebook-like-article span{
    height:28px !important;
}