{% extends 'base.html' %}
	{% block titulo %}{{artigo.titulo}} - {{ block.super }}{% endblock %}
	{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/artigo.css" type="text/css" />
	{% endblock %}
		{% block content %}
			<article id="article-detail">
				<header>
					<h3 class="entry-title">
						<a href="{% url blog-artigo slug=artigo.slug %}" rel="bookmark" title="{{ artigo.titulo }}">
							{{ artigo.titulo }}
						</a>
					</h3>
					<p>{{ artigo.resumo }}</p>
				</header>
				<div class="entry-content">
					{{ artigo.conteudo|safe }}
				</div><!-- /.entry-content -->
				<footer class="post-info">
					<abbr class="published">
						{{ artigo.publicacao }}
					</abbr>
				</footer><!-- /.post-info -->
			</article>
		{% endblock %}
{% block js_footer %}
<script type="text/javascript">
	$(window).load(function(){
		if($('code.prettyprint').length > 0){
			// prettify the code
			$.getScript("{{ STATIC_URL }}plugins/prettify/prettify.js",
				function(){
					$('head').append('<link rel="stylesheet" href="{{ STATIC_URL }}plugins/prettify/prettify.css" type="text/css" />');
					prettyPrint();
				}
			)
		}
	});
</script>
{% endblock %}