			<ol id="posts-list" class="hfeed">
				{% for artigo in artigos %}
				<li>
					<article class="hentry">
						<header>
							<h3 class="entry-title">
								<a href="#" rel="bookmark" title="{{ artigo.titulo }}">
									{{ artigo.titulo }}
								</a>
							</h3>
						</header>
						<footer class="post-info">
							<abbr class="published" title="2005-10-10T14:07:00-07:00">
								há {{ artigo.publicacao|timesince }}
							</abbr>
						</footer><!-- /.post-info -->
						<div class="entry-content">
							<p>{{ artigo.resumo }}</p>
						</div><!-- /.entry-content -->
					</article>
				</li>
				{% endfor %}
			</ol><!-- /#posts-list -->
			{% include "global-paginator.html" %}