<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta name="google-site-verification" content="64KgpIRkL_XFYVed2Pju392AunehCxJH5mH__wbPoag" />
	{% block meta_og %}
	<meta property="og:title" content="Douglas Miranda - #WebDevelopment"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://douglasmiranda.com/"/>
	<meta property="og:image" content="{{STATIC_URL}}images/icon.png" />
	<meta property="og:site_name" content="douglasmiranda.com"/>
	<meta property="og:description" content="Artigos sobre desenvolvimento web e falo um pouco sobre o que faço, aprendo e vivencio em minha profissão."/>
	{% endblock %}
	<link rel="alternate" type="application/rss+xml" title="Ultimos
artigos por Douglas Miranda" href="http://feeds.feedburner.com/douglasmiranda" />
	<link rel="shortcut icon" href="/favicon.png" type="image/png" />
	<title>{% block titulo %}Douglas Miranda - #Webdevelopment{% endblock %}</title>
	{% include "global-styles.html" %}
	{% block css %}{% endblock %}
	{% block js_head %}{% endblock %}
</head>
<body>
	<div id="wrapper">
		<header id="banner">
			<h1>
				<a href="{% url projeto-inicial %}">
					Douglas Miranda
					<strong>
						more than lines of code
					</strong>
				</a>
			</h1>
			<a id="rss" href="http://feeds.feedburner.com/douglasmiranda" title="inscrever feed"></a>
			{% include "horizontal-menu.html" %}

		</header><!-- /#banner -->
		{% block featured %}{% endblock %}
		<section id="content">
			{% block content %}{% endblock %}
		</section><!-- /#content -->
		{% block extras %}{% endblock %}
		{% include "footer.html" %}
		{% include "global-footer-scripts.html" %}
		{% block js_footer %}{% endblock %}
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26623511-1']);
		  _gaq.push(['_trackPageview']);
		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</div>
</body>
</html>