	<footer id="contentinfo" class="body">
		<address id="about" class="vcard body">
			<span class="primary">
				<strong>Is anyone there?</strong>
				<span class="role">Oh yeah, I'm here, and that's me!</span>
			</span><!-- /.primary -->
			<a href="{% url projeto-me %}">
				<img src="{{ STATIC_URL }}images/home/douglas-miranda.jpg" alt="oi?" class="photo" width="55" height="55" />
			</a>
			<span class="bio">Olá sou esse cara aí do lado. Tento falar aqui nesse blog um pouco sobre desenvolvimento, compartilhar experiências e expor o meu pensamento de modo open-source para você ler, argumentar, melhorar e redistribuir. :)</span>
		</address><!-- /#about -->
		<p>2011 - 2011 <a href="{% url projeto-me %}">Douglas Miranda</a></p>
	</footer><!-- /#contentinfo -->