{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" type="text/css" />
{% endblock %}
{% block body %}
<body id="index" class="home">
{% endblock %}
			{% block featured %}
			{% if artigo_em_destaque %}
			<aside id="featured">
				<article>
					<figure>
						<a href="{% url blog-artigo slug=artigo_em_destaque.slug %}">
							<img src="{{ artigo_em_destaque.imagem_destaque.url }}" alt="{{ artigo_em_destaque.titulo }}" />
						</a>
					</figure>
					<hgroup>
						<h2>if principal:</h2>
						<h3>
							<a href="{% url blog-artigo slug=artigo_em_destaque.slug %}">
								{{ artigo_em_destaque.titulo }}
							</a>
						</h3>
					</hgroup>
					<p class="description">
						{{ artigo_em_destaque.resumo }}
					</p>
				</article>
			</aside><!-- /#featured -->
			{% endif %}
			{% endblock %}
			{% block content %}
			<h2>articles = Article.objects.get_published()[:3]</h2>
			{% include "blog/listagem-artigos.html" %}
			{% endblock %}
			{% include "blog/listagem-artigos.html" %}
			{% block extras %}
			<section id="extras">
				<div class="blogroll">
					<h2>links = get_blogroll_links()</h2>
					<ul>
						<li><a href="#" rel="external">Tabless</a></li>
						<li><a href="#" rel="external">Python</a></li>
						<li><a href="#" rel="external">...</a></li>

						<li><a href="#" rel="external">Smashing Magazine</a></li>
						<li><a href="#" rel="external">Django</a></li>
						<li><a href="#" rel="external">HTML5 Spec</a></li>
					</ul>
				</div><!-- /.blogroll -->

				<div class="social">
					<h2>follow(people.me)</h2>
					<ul>
						<li><a href="http://twitter.com/douglaswebdev" rel="me">@douglaswebev</a></li>
						<li><a href="http://github.com/douglasmiranda" rel="me">github.fork(me)</a></li>
					</ul>
				</div><!-- /.social -->
			</section><!-- /#extras -->
			{% endblock %}