			<nav>
				<ul>
					<li class="active">
						<a href="{% url projeto-inicial %}">/inicial</a>
					</li>
					<li>
						<a href="{% url blog-todos-artigos %}">/artigos</a>
					</li>
					<li>
						<a href="{% url labs-projetos %}">/open-source</a>
					</li>
					<li>
						<a href="{% url projeto-me %}">/algumas palavras sobre mim</a>
					</li>
					<li>
						<a href="#">/labs</a>
					</li>
					<li>
						<form method="get" name="search" id="search-form" action="">
							<input type="text" name="q" placeholder="Pesquisar...">
							<input type="submit" value="Pesquisar">
						</form>
					</li>
				</ul>
			</nav>